<!DOCTYPE html>
<html>
	<head>
		<title> VK eSchool</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type = "text/css" href="css/style.css">
	</head>
	<body>
		  <div class="wrapper">
			<form action="/login" class="form-login" method="post">
      <h1 class="form-login-heading">@VK</h1>
      <input type="email" class="form-control" name="username" placeholder="El. Paštas" required="" autofocus=""/>
      <input type="password" class="form-control" name="password" placeholder="Slaptažodis" required=""/>
      </br>
      <button class="btn btn-lg btn-primary btn-block">Prisijungti</button>
		<hr>
	  <a href="register" class="btn btn-lg btn-default btn-block">Registruotis</a>
    </form>
  </div>
	</body>
</html>
