.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-login {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
}

.form-register {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
}

.form-login-heading{
	  color: DodgerBlue;
	  text-align: center;
	  margin-bottom: 30px;
	}

.form-register-heading{
		 color: DodgerBlue;
		 text-align: center;
		 margin-bottom: 30px;
		}

.form-control {
		margin-bottom: 10px;
	}

.btn {
	border-radius: 0px;
}
